*{
    /* margin: 0 0 0 0; <- aplica a todos os lados
        margin: 0 0 0; <- aplica ao top, bottom e right
        margin: 0 0; <- aplica ao bottom-top e ao left-right
        margin; 0; <- aplica a todos os lados */

    /* margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0; */

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    backgound-color: #f2e5f2;
    margin: 0 auto;
    width: 70%;
}